h2{
    /* color: red; */
    color: rgb(255, 0, 0);
}
#p1{
    background-color: rgb(255,255,0);
}
#p2{
    font-family: 바탕체;
    line-height: 2;
}
.coffee{
    /* bold-700 */
    /* font-weight: bold; */
    font-weight: 600;
}